$main-color: hsl(54, 83%, 75%);
$header-bg: darken($main-color, 10%);
$main-font: arial,helvetica,sans-serif;
$main-font-size:16px;
$full-height: 100vh;

$header-height: 50px;

@mixin header-padding(){
  padding:10px 10px;
  @include box;
}
$content-height: calc($fullheight - #{$header-height});
@mixin box(){
  box-sizing: border-box;
}

$footer-height: $header-height;
$footer-bg: $header-bg;

$input-color:darken($main-color,50%);
$input-font-size: 20px;
@mixin row(){
  display: flex;
  flex-direction: row;
}
@mixin reset(){
  margin: 0;
  padding: 0;
}

@mixin fullheight(){
  height: 100vh;
}
html,body{
  @include fullheight;
}
body{
  @include reset;
  font-family:$main-font;
  font-size: $main-font-size;
  overflow: hidden;
}
header{
  height: $header-height;
  background-color:$header-bg;
  @include row;
  h1,h2,h3{
    @include reset;
    font-size:20px;
     @include header-padding;
  }
  .settings-button{
    width:48px;
    height:48px;
    background-color:transparent;
    border:solid transparent;
    .stripe{
      height:2px;
      margin:8px 0;
      background-color:darken($main-color,30%);
    }
  }
  .settings-button:focus{
    outline:none;
  }
  .settings-button.open{
    background-color:darken($main-color,30%);
    .stripe{
      background-color:darken($main-color,50%);
    }
  }
}
main{
  height: calc(100vh - (#{$header-height} * 2));
  overflow-x:hidden;
  overflow-y:auto;
  .settings-panel{
    position:absolute;
    left: -100vw;
    transition:left 1s;
    top:$header-height;
    z-index:999;
    background-color:white;
    width:80vw;
    box-shadow:5px 5px 8px rgba(0,0,0,0.5);
    min-height:calc(100vh - (#{$header-height}));
    #settings{
      max-width:80%;
      margin:0 auto;
    }
  }
  .settings-panel.open{
    top:$header-height;
    left:0;
  }
}

#task-list{
  @include reset;
  list-style:none;
  li{
    font-size:20px;
    padding-left:10px;
    border-bottom: 1px solid #ccc;
    color:darken($main-color,40%);
  }
  li[data-status="1"]{
    background-color:lighten($main-color,15%);
    text-decoration:line-through;
    color:darken($main-color,40%);
    button[data-function="status"]{
      opacity:0.2;
    }
  }
  li{
    .task-row{
      display:flex;
      justify-content:space-between;
      .task-text{
        word-wrap:break-word;
        max-width:70vw;
      }
      .buttons{
        width:100px;
        display:flex;
        opacity:0.4;
        button{
          width:50%;
          background-color:transparent;
          border:solid transparent;
          background-size:50%;
          background-repeat:no-repeat;
          background-position:center;
        }
        button[data-function="status"]{
          background-image:url('../images/check.png');
        }
        button[data-function="delete"]{
          background-image:url('../images/times.png');
        }
      }
    }
  }
    
}

footer{
  height: $footer-height;
  background-color:$footer-bg;
  #task-form{
    @include row;
    #task-input{
      padding:10px;
      font-size: $input-font-size;
      color: $input-color;
      border:1px solid $input-color;
      flex:1;
    }
    #task-input:focus{
      outline:none;
    }
    #task-button{
      width: $header-height + 10;
      height:48px;
      font-size: $input-font-size * 0.75;
    }
  }
}
