doctype html
html
  head
    title To do List
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet',href='css/style.css')
  body
    header.header
      h1 To do List
    main
      ul#task-list
    footer
      form#task-form.row
        input(id='task-input',type='text',placeholder='add task')
        button(type='submit',id='task-button') Add
    script(src='js/main.js')
    // template for task items with buttons
    template#task-template
      li(data-id='',data-name='',data-status='')
        .task-row
          p.task-text
          button(class='task-action',data-function='status')
          button(class='task-action',data-function='delete')
      
    
